<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLAS</title>
</head>
<body>
    <h1 style="text-align: center;">DATA DIRI</h1>
    <form action="data.py">
        <fieldset>
        <label for="">Nama Lengkap</label>
        <input type="text" name="" id="" placeholder="Nama lengkap"><br>

        <label for="">Tempat lahir</label>
        <input type="text" name="tempat" placeholder="Tempat lahir"><br>

        <label for="">tanggal Lahir</label>
        <input type="date" name="tanggal" id="" placeholder="tanggal lahir"><br>

        <label for="">Alamat Lengkap</label>
        <input type="textarea" name="alamat" id="" placeholder="alamat"><br>

        <label for="">tanggal Lahir</label>
        <input type="date" name="tanggal" id=""><br>
        <input type="name" name="" id="">
            
        <P>PILIHAN PROGRAM</P>
            <input type="radio" name="fullstack" value="fullstack"> 
            <a href="https://www.w3schools.com/whatis/whatis_fullstack.asp"><label for="fullstack">Fullstack</label></a>
            <input type="radio" name="python" value="python">
            <a href="https://www.python.org/"><label for="python">Python</label></a>
            <input type="radio" name="frontend" value="frontend">
           <a href="https://www.frontend.com/"> <label for="">Frontend</label></a>
           <br>

        <input type="submit">
        </fieldset>
    </form>
</html>